@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

#App{
    font-family: 'Roboto Mono', monospace;
}

#footer {
    background-color: rgb(161, 161, 170);
    position: fixed;
    width: 100%;
    bottom: 0;
    color: white;
    font-size: 25px;
   }